/*CSS Document*/
    #main{
         background-image:url("../picture/hotframe.jpg")
         width:1400px;
         height:200px;
    }
    #mainframe{
           background-image: url("../picture/uselogo.png");
           background-repeat:no-repeat;
           width:500px;
           height:200px;   
    }
    #IDframe{
		width:900px;
		height:180px;
	}
	#hypelinkff{
			margin-top:40px;
			width:500px;
			height:50px;
			float:right;
			margin-right:100px;
	}
	#spacing2{
			margin-top:40px;
			margin-left:40px;
			float:left;
		}
    #frames{
           width:1400px;
           height:100px;
    }
    #search{
           float:right;
           background-color:aliceblue;
           margin-top:30px;
           margin-right:100px;
    }
    #framec{
           width:1400px;
           height:500px;
           margin-top:50px;
    }
    #menu{
          background-image: url("../picture/menu.jpg");
          float:left;
          width:200px;
          height:650px;
          margin-top:50px;
          margin-left:20px;
    }
    #total{
          background-color:red;
          float:left;
          width:1000px;
          height:700px;
          margin-top:0px;
    }
    #hotframe{
         width:1400px;
         height:250px;
    }
    #hot{ 
          background-image: url("../picture/hotframe.jpg");
          width:500px;
          height:250px;    
    }
    #rank{
         background-image: url("../picture/content.jpg");
         font-weight:bold;
         font-size:large;
         word-spacing:20px;
         width:1000px;
         float:left;
         height:50px;
         margin-top:0px;
    }
    #content{
         background-image: url("../picture/content.jpg");
         float:left;
         width:1000px;
         height:650px;
    }
    #discount{
         background-image: url("../picture/buying.jpg");
         float:left;
         width:180px;
         height:700px;
    }
    #frameb{
		width:1400px;
		height:300px;
	}
	#find{
		float:left;
		width:450px;
		height:200px;
		background-image: url("../picture/content.jpg");
		margin-left:100px;
		margin-top:50px;
	}
	#recommend{
		float:right;
		width:450px;
		height:200px;
		background-image: url("../picture/content.jpg");
		margin-top:50px;
		margin-right:100px;
	}