/* CSS Document */
	
	#logo{
			width:400px;
			height:180px;
			float:left;
			background-image:url("../picture/uselogo.png");
			background-repeat:no-repeat;
		}
	#white{
		    width:1200px;
		    height:100px;
		    }
	#IDframe{
		width:1350px;
		height:180px;
	}
	#classify{
		margin-left:50px;
		width:350px;
		height:400px;
		float:left;
	}
	#hot{
		text-align:center;
		width:500px;
		height:250px;
	}
	#discount{
		background:yellow;
		width:500px;
		height:150px;
	}
	#svtop{
		background-image: url("../picture/flower.jpg"); 
		background-repeat:no-repeat;
		float:right;
		width:350px;
		height:400px;
	}
	#framec{
		align:center;
		width:1350px;
	}
	#framecc{
		float:left;
	}
	#frameb{
		width:1350px;
		height:400px;
	}
	#buying{
		float:left;
		width:450px;
		height:200px;
		background:#b7daf9;
		margin-top:20px;
		margin-left:100px;
	}
	#story{
		float:right;
		width:450px;
		height:200px;
		background:#b7daf9;
		margin-top:20px;
		margin-right:100px;
	}
	#find{
		float:left;
		width:450px;
		height:200px;
		background:#b7daf8;
		margin-left:100px;
		margin-top:40px;
	}
	#overseas{
		float:right;
		width:450px;
		height:200px;
		background:#B7DAF8;
		margin-top:40px;
		margin-right:100px;
	}
	#login{
		width:800px;
		height:100px;
		float:right;
		margin-right:100px;
		margin-top:50px;
	}
	#search{
		float:right;
		widht:100px;
		margin-right:100px;
		
	}
	#menu{
		float:left;
	}
	#hypelinkff{
			margin-top:40px;
			width:800px;
			height:50px;
			float:right;
			margin-right:100px;
	}
	#mainbg{
			background-image:url("../picture/story3.jpg");
			background-repeat:repeat-y;
			height:1200px;
	}
	
