@CHARSET "UTF-8";
		#logo{
			width:400px;
			height:180px;
			float:left;
			background-image:url("../picture/uselogo.png");
			background-repeat:no-repeat;
		}
		#bg{
		    background-image:url("../picture/story2.jpg");
			background-repeat:no-repeat;
		}
		#hypelinkf{
			margin-top:40px;
			width:800px;
			height:50px;
			float:left;
		}
		#main{
			width:1400px;
			height:800px;
		}
		#top{
			width:1200px;
			height:180px;
		}
		#mid{
			width:1200px;
			height:400px;
		}
		#picturef{
			width:600px;
			height:400px;
			float:left;
		}
		#white{
		    width:1200px;
		    height:100px;
		    }
		#information{
			width:600px;
			height:400px;
			float:left;
		}
		#alterpicture{
			margin-top:40px;
			width:1200px;
			height:100px;
		}
		#buttona{
			margin-top:40px;
			width:600px;
			height:100px;
		}
		#buttonf{
			width:1200px;
			height:100px;
		}
		#spacing{
			margin-left:40px;
			float:left;
		}
		#address{
			margin-top:100px;
			width:1200px;
			height:300px;
		}
		#addresstop{
			margin-left:5px;
			float:left;
			width:150px;
			height:100px;
		}
		#spacing2{
			margin-top:40px;
			margin-left:40px;
			float:left;
		}